<ul class="name-list">
    <li><a href="<%= nameListBaseURL %>a">A</a></li>
    <li><a href="<%= nameListBaseURL %>b">B</a></li>
    <li><a href="<%= nameListBaseURL %>c">C</a></li>
    <li><a href="<%= nameListBaseURL %>d">D</a></li>
    <li><a href="<%= nameListBaseURL %>f">E</a></li>
    <li><a href="<%= nameListBaseURL %>f">F</a></li>
    <li><a href="<%= nameListBaseURL %>g">G</a></li>
    <li><a href="<%= nameListBaseURL %>h">H</a></li>
    <li><a href="<%= nameListBaseURL %>i">I</a></li>
    <li><a href="<%= nameListBaseURL %>j">J</a></li>
    <li><a href="<%= nameListBaseURL %>k">K</a></li>
    <li><a href="<%= nameListBaseURL %>l">L</a></li>
    <li><a href="<%= nameListBaseURL %>m">M</a></li>
    <li><a href="<%= nameListBaseURL %>n">N</a></li>
    <li><a href="<%= nameListBaseURL %>o">O</a></li>
    <li><a href="<%= nameListBaseURL %>p">P</a></li>
    <li><a href="<%= nameListBaseURL %>q">Q</a></li>
    <li><a href="<%= nameListBaseURL %>r">R</a></li>
    <li><a href="<%= nameListBaseURL %>s">S</a></li>
    <li><a href="<%= nameListBaseURL %>t">T</a></li>
    <li><a href="<%= nameListBaseURL %>u">U</a></li>
    <li><a href="<%= nameListBaseURL %>v">V</a></li>
    <li><a href="<%= nameListBaseURL %>w">W</a></li>
    <li><a href="<%= nameListBaseURL %>x">X</a></li>
    <li><a href="<%= nameListBaseURL %>y">Y</a></li>
    <li><a href="<%= nameListBaseURL %>z">Z</a></li>
</ul>