<!DOCTYPE html>
<html ng-app="FishApp">
<head>
    <title>Fishambiguator</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-touch.min.js"></script>
    <script type="text/javascript" src="<%= helpers.staticImagePath("/js/ui-bootstrap-tpls.js") %>"></script>
    <script type="text/javascript" src="<%= helpers.staticImagePath("/js/app/app.js") %>"></script>
    <script type="text/javascript" src="<%= helpers.staticImagePath("/js/app/directives.js") %>"></script>
    <script type="text/javascript" src="<%= helpers.staticImagePath("/js/app/controllers.js") %>"></script>
    <!-- CSS! -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="<%= helpers.staticImagePath("/css/main.css") %>">
    <link rel="stylesheet" type="text/css" href="<%= helpers.staticImagePath("/css/forms.css") %>">
</head>
<body>
    <h1>The Fishambiguator</h1>
    <% include partials/nav %>
    <%- body %>
</body>
</html>